@tailwind base;
@tailwind components;
@tailwind utilities;

/*prevents IOS jumping layout*/
@supports (-webkit-overflow-scrolling: touch) {
    input, textarea {
        font-size: 16px !important;
    }
}
/*switches off IOS calendar to prevents resizing BasicInput.tsx*/
@supports (-webkit-touch-callout: none) {
    input[type="date"] {
        appearance: none;
        -webkit-appearance: none;
    }
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body {
    @apply font-global; /*applies font globally*/
    overflow-y: scroll;
}

.shadow-top {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); /*top of element shadow */
}

.shadow-bottom {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*bottom of element shadow */
}

.shadow-top-l {
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1); /*top of element shadow light */
}

.shadow-bottom-l {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /*bottom of element shadow light*/
}