@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body {
    @apply font-global; /*applies font globally*/
}

.shadow-top {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); /*top of element shadow */
}

.shadow-bottom {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*bottom of element shadow */
}